h1 {
    color: red;
    border: 1px solid blue;
}

h2 {
    color: blue;
}

ul, ol {
    list-style: none;
}

.especial{
    color: #ddd;
    background-color: blue;
}
.especial li {
 color: white
}

.especial2{
    background-color: pink;
}